# Python
__pycache__/
*.py[cod]
*.env
.env
*.log

# Node
node_modules/
.next/
out/

# Secrets
*.pem

# VSCode and PyCharm
.vscode/
.idea/

# Docker
*.pyc

# Mac/Windows
.DS_Store
Thumbs.db

# Build
build/
dist/

